router bgp 64500
 bgp router-id LOCAL_IP
 neighbor IP_A remote-as 64500
 neighbor IP_B remote-as 64500
!
bfd
 peer IP_A multihop local-address LOCAL_IP
   no shutdown
 !
 peer IP_B multihop local-address LOCAL_IP
   no shutdown
 !
!
